<div class="wrapper-calendar">
  <div class="header-calendar">
    <div>
      <button (click)="changeMonth(-1)" class="btn-prev"><</button>
    </div>
    <h1>{{ dateSelect }}</h1>
    <div>
      <button (click)="changeMonth(1)" class="btn-next">></button>
    </div>
  </div>
  <ol>
    <li *ngFor="let day of week" class="day-name">{{ day }}</li>

    <li
      (click)="clickDay(day)"
      *ngFor="let day of monthSelect"
    >
      <span>{{ day}</span>
    </li>
  </ol>
</div>

<div>Fecha: {{ dateValue }}</div>
